.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-top: 50px;
}

.App-title {
  font-size: 2em;
}

nav {
  background-color: #2d2e36;
  color: #fff;
  padding: 15px;
  font-size: 22px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; /* Ensure the navbar appears above other content */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the list items horizontally */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

nav ul li a:hover {
  color: #ca6cc6; /* Change color on hover */
}

.list {
  padding-top: 60px;
}
