.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-top: 50px;
}

.App-title {
  font-size: 2em;
}

nav {
  background-color: #2d2e36;
  color: #fff;
  padding: 15px;
  font-size: 22px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; /* Ensure the navbar appears above other content */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the list items horizontally */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

nav ul li a:hover {
  color: #ca6cc6; /* Change color on hover */
}

.list {
  padding-top: 60px;
}
.address{
  text-align: left;
  margin-left: 20px;
  padding-bottom: 50px;

}

.p_address{
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
}

.checkoutHeader{
  text-align: left;
  margin-left: 20px;
}

.checkoutButton {
  /* Set the desired positioning */
  position: absolute;
  bottom: 45px;
  right: 70px;
  background-color: rgb(246, 220, 159);
  border: 1px solid black;
  border-radius: 3px;
  height: 50px;
  width: 15%;
  font-size: 20px;

}

.totalPriceCheckout{
  /* Set the desired positioning */
  position: absolute;
 left: 400px;
  font-size: 40px;
}
.checkoutButton:hover {
  background-color: rgb(255, 126, 46);
}

/* Apply a more pleasing border style and spacing */
table {
  border-collapse: collapse;
  width: 80%; /* Wider table for better readability */
  margin: 0 auto; /* Center the table horizontally */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for a 3D effect */
}

/* Style the table header cells */
th {
  background-color: #101010; /* Dark background color for headers */
  color: #fff; /* White text for headers */
  font-weight: bold; /* Make text bold */
  padding: 10px; /* Increase padding for headers */
  border: 1px solid #ddd; /* Add a border to header cells */
  text-align: center;
}

/* Style the table data cells */
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Apply alternating row colors */
tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray background for even rows */
}

/* Style the odd rows differently if desired */
tr:nth-child(odd) {
  background-color: #fff; /* White background for odd rows */
}

/* Highlight rows on hover for better interactivity */
tr:hover {
  background-color: #ccc;
}

.pickupType{
  position: absolute;
  top: 275px;
  right: 150px;
  font-size: 30px;
  font-style: normal;
}
